@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

html {
    font-size: 6px;
    box-sizing: border-box;
}

@media (min-width: 680px){
    html{
        font-size: 62.5%;
    }
}

@media screen and (orientation:portrait) {
    .wrapper{
        transform: rotate(90deg);
        transform-origin:bottom left;
        
        position:absolute;
        top: -100vw;
        left: 0;
        display: grid;
        place-items: center;
        height:100vw;
        width:100vh;
        overflow:auto;
    }
}

body{
    margin:0;
    overflow:hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

/* @media (min-width: 480px){
    .wrapper{
        position: static;
        transform: rotate(-90deg);
        height:100vw;
        width:100vh;
    }
} */

*,
*:before,
*:after {
    box-sizing: inherit;
}


@media (min-width: 680px){
    .container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

h1{
    color: #fff;
}

.keyword{
    display: flex;
}

.key{
    position: relative;
    background: #fff;
    height: 50rem;
    width: 10rem;
    border: 0.1rem solid #000;
    box-shadow: 6px 6px 2px #000;
}

.key.key-flat{
    position: relative;
    z-index: 2;
    width: 6rem;
    height: 30rem;
    margin: 0 -3rem;
    background: #000;
    box-shadow: none;
}

.key.key-flat > p {
    position: absolute;
    bottom: 0;
    color: #fff;
}

.key-flat.pressed > p {
    color: #000;
}

.key > p {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.key-flat.pressed {
    top: 0;
    background: rgb(173, 173, 173);
    height: 31rem;
    border: 1px solid rgb(173, 173, 173); 
}


.pressed{
    box-shadow: inset 0px 0px 0px;
    height: 50rem;
    position: relative;
    top: 0.5rem;
    background: rgb(206, 206, 206);
}